---
import Mainlayout from "../layouts/Mainlayout.astro";
import Form from "../components/Form.astro";
import Testimonials from "../components/Testimonials.astro";

const url = "https://nswivjmgwwviqfdybvwd.supabase.co/rest/v1/testimonials?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2l2am1nd3d2aXFmZHlidndkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3NjQ0OTcsImV4cCI6MTk5NzM0MDQ5N30.MjpQn87VGMTtbxQHM9wi7-6TGEBCWoMn6QV4Jlgkq-c";
const respone = await fetch(url,{
    method: "GET",
    headers:{
        apikey: key,
        'Accept':'application/json',
        'Content-Type':'application/json'
    },
})
const udsagn = await respone.json();
---
<Mainlayout title="Anmeldelser">
    <main>
        <Form/>
        <ul>
            {
                udsagn.map((testimonials)=>{
                    return <Testimonials name = {testimonials.name} overskrift={testimonials.overskrift} text={testimonials.text}/>
                })
            }
        </ul>
    </main>
</Mainlayout>

