---
import Mainlayout from "../layouts/Mainlayout.astro"
import Form from "../components/Form.astro";
import Navbar from "../components/Navbar.astro";

---



    <main>
        <Navbar/>
        <Form></Form>
    </main>

