<!--HELE HEADER STARTER HER, SE CSS FOR "CSS FOR NAVBAR"-->
<div class="blue"></div>
<header>
  <div class="h1icons">
    <h1>OMADA WINE & DELI</h1>
    <div class="icons">
      <ul>
        <a href="#" class="fa-solid fa-magnifying-glass"></a>
        <a href="#" class="fa-regular fa-heart"></a>
        <a href="#" class="fa-regular fa-user"></a>
        <a href="#" class="fa-solid fa-cart-shopping"></a>
      </ul>
    </div>
  </div>
  <hr />
  <nav>
    <a href=""><p>News & Events</p></a>
    <a href=""><p>Tastings & Functions</p></a>
    <a href=""><p>Deli Goods</p></a>
  </nav>
</header>
<!--HELE HEADER SLUTTER HER, SE CSS FOR "CSS FOR NAVBAR"-->

<style>
  /* 
CSS FOR NAVBAR
*/
  .blue {
    height: 2rem;
    background-color: rgb(81, 186, 235);
  }
  header {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }
  a,
  p {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: larger;
    margin: 0 1rem;
  }
  .icons {
    float: right;
    text-align: right;
  }

  hr {
    width: 80%;
  }
  h1 {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    display: inline;
    margin-right: -17rem;
  }
  .h1icons {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* 
CSS FOR NAVBAR
*/
</style>

<!-- SKAL BRUGES TIL HEADEREN / NAVBAREN -->
<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>
<!-- SKAL BRUGES TIL HEADEREN / NAVBAREN -->
