<div class="omadatest">
  <h4>Omada Test</h4>
  <hr />
  <div class="omadatesttext">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis quasi sequi cupiditate. Facilis sit aperiam illo at atque aliquid consequatur soluta pariatur animi, recusandae corporis eaque quaerat minus error ea quos? Eligendi assumenda sequi illum blanditiis consequuntur animi excepturi deserunt aspernatur in alias nihil, veritatis doloremque fugiat quidem unde nesciunt?</p>
  </div>
  <div class="bannerpic">
    <img src="src/img/secondary-banner-placeholder.jpg" alt="placeholder" />
  </div>
</div>
<style>
  img {
    max-width: 100%;
    height: 200px;
    display: block;
    border-radius: 5px;
  }
  h4 {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 3rem;
  }
  hr {
    width: 80%;
  }
  .omadatest {
    text-align: center;
    margin-top: 4rem;
  }
  .omadatest h4 {
    margin-bottom: 2rem;
  }
  .bannerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .omadatesttext {
    margin-top: 3rem;
    padding: 0 18rem;
  }
</style>
