<section class="product">
  <h2 class="product-category">Thirsty? Peckish? Curious? We've got you covered!</h2>
  <button class="pre-btn"><img src="src/img/arrow.png" alt="" /></button>
  <button class="nxt-btn"><img src="src/img/arrow.png" alt="" /></button>
  <div class="product-container">
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="src/Billeder/flereVIn.webp" class="product-thumb" alt="" />
        <button class="card-btn">L'antidote</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->

    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/gamay.webp" class="product-thumb" alt="" />
        <button class="card-btn">Gamay</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/glas (2).webp" class="product-thumb" alt="" />
        <button class="card-btn">Frukt Stereo</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/glas.webp" class="product-thumb" alt="" />
        <button class="card-btn">Vin Glas</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/gul.webp" class="product-thumb" alt="" />
        <button class="card-btn">Frugt Vin</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/juice.webp" class="product-thumb" alt="" />
        <button class="card-btn">Æblemost</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->

    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/orange.webp" class="product-thumb" alt="" />
        <button class="card-btn">Les Champs Magnifique</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/vin.webp" class="product-thumb" alt="" />
        <button class="card-btn">Andet Vin</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/ansjoser.webp" class="product-thumb" alt="" />
        <button class="card-btn">Pujadó Solano</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <div class="product-card">
      <div class="product-image">
        <img src="/src/Billeder/krydderier.webp" class="product-thumb" alt="" />
        <button class="card-btn">Gløgg Krydderier</button>
      </div>
    </div>
    <!-- SECTION FOR HVER KORT I SLIDER -->
    <style>
      /* PRODUCTS */
      .product-category {
        padding: 0 10vw;
        padding-top: 5rem;

        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
        text-transform: capitalize;
        color: #ff7d7d;
      }
      .product {
        position: relative;
        overflow: hidden;
        padding: 5px;
      }

      .product-container {
        padding: 0 5vw;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
      }

      .product-container::-webkit-scrollbar {
        display: none;
      }

      .product-card {
        flex: 0 0 auto;
        width: 250px;
        height: 450px;
        margin-right: 20px;
      }

      .product-image {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
      }

      .product-thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-btn {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        width: 90%;
        text-transform: capitalize;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0;
      }

      .product-card:hover .card-btn {
        opacity: 1;
      }

      .card-btn:hover {
        background: #ff7d7d;
        color: #fff;
      }

      .product-info {
        width: 100%;
        height: 100px;
        padding-top: 10px;
      }

      .product-brand {
        text-transform: uppercase;
      }

      .product-short-description {
        width: 100%;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        opacity: 0.5;
        text-transform: capitalize;
        margin: 5px 0;
      }

      .price {
        font-weight: 900;
        font-size: 20px;
      }

      .actual-price {
        margin-left: 20px;
        opacity: 0.5;
        text-decoration: line-through;
      }

      .pre-btn,
      .nxt-btn {
        border: none;
        width: 10vw;
        height: 95%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fffef3 100%);
        cursor: pointer;
        z-index: 8;
      }

      .pre-btn {
        left: 0;
        transform: rotate(180deg);
      }

      .nxt-btn {
        right: 0;
      }

      .pre-btn img,
      .nxt-btn img {
        opacity: 0.2;
      }

      .pre-btn:hover img,
      .nxt-btn:hover img {
        opacity: 1;
      }

      .collection-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }

      .collection {
        position: relative;
      }

      .collection img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .collection p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        font-size: 50px;
        text-transform: capitalize;
      }

      .collection:nth-child(3) {
        grid-column: span 2;
        margin-bottom: 10px;
      }
    </style>
  </div>
</section>

<script>
  const productContainers = [...document.querySelectorAll(".product-container")];
  const nxtBtn = [...document.querySelectorAll(".nxt-btn")];
  const preBtn = [...document.querySelectorAll(".pre-btn")];

  productContainers.forEach((item, i) => {
    let containerDimensions = item.getBoundingClientRect();
    let containerWidth = containerDimensions.width;

    nxtBtn[i].addEventListener("click", () => {
      item.scrollLeft += containerWidth;
    });

    preBtn[i].addEventListener("click", () => {
      item.scrollLeft -= containerWidth;
    });
  });
</script>
