<!--VIDEO SEKTION TIL ASTRO HER-->
<div class="videoflex">
  <div class="videotext">
    <h2>OMADA VIDEO</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cum modi placeat, culpa nostrum officia, cumque dolorum quasi in sapiente voluptate. Accusamus odio temporibus officia beatae tempora praesentium pariatur ipsum nostrum maiores, incidunt repellendus excepturi laborum modi saepe adipisci eum distinctio quam ea! Expedita, odit. Nostrum at nesciunt aliquid velit?</p>
  </div>
  <video autoplay muted loop class="video">
    <source src="src/img/placeholdervideo.mp4" type="video/mp4" />
  </video>
</div>
<!--VIDEO SEKTION TIL ASTRO HER-->

<style>
  html,
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .videoflex {
    display: flex;
    text-decoration: none;
    padding-top: 4rem;
  }
  .video {
    width: 50%;
    display: inline;
    margin: auto;
    padding-top: 3rem;
    padding-right: 5rem;
    flex: 1;
  }
  .videotext {
    text-align: center;
    margin: auto 5rem;
  }
</style>
