<!--VIDEO SEKTION TIL ASTRO HER-->
<div class="videoflex">
  <div class="videotext">
    <h2>OMADA VIDEO</h2>
    <p>Oplev den seje atmosfære og de lækre retter hos Omada Wine and Deli. Udforsk gourmetmad og gadekultur i en unik kombination, med håndlavede delikatesser,
    og et imponerende udvalg af vine. Lad dig inspirere af den pulserende stemning og den gode oplevelse!</p>
  </div>
  <video autoplay muted loop class="video">
    <source src="src/img/Omada.mp4" type="video/mp4" />
  </video>
</div>
<!--VIDEO SEKTION TIL ASTRO HER-->

<style>
  html,
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .videoflex {
    display: flex;
    text-decoration: none;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .video {
    width: 50%;
    display: inline;
    margin: auto;
    padding-top: 3rem;
    padding-right: 5rem;
    flex: 1;
  }
  .videotext {
    text-align: center;
    margin: auto 5rem;
  }
  p {
    color: #e55f4d;
  }


  @media screen and (max-width: 750px) {
    .videoflex {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .video {
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 3rem;
    padding-right: 5rem;
    flex: 1;
  }
  
}
</style>
